<nav class="navbar navbar-dark bg-primary header">
  <a class="navbar-brand ms-3">GitHub Interactive API</a>
  @if(template) { @if(dataServices.UserEmail) {
  <ul class="nav d-none d-md-flex">
    <li class="nav-item me-3">
      <a class="link"> {{ dataServices.UserEmail }}</a>
    </li>
    <li class="nav-item">
      <a class="link" (click)="logoutUser()"> Logout </a>
    </li>
  </ul>
  <ul class="nav d-block d-md-none">
    <li class="nav-item dropdown">
      <a (click)="toggleMenuHandler()" class="nav-link p-0">
        <span class="profile-menu">{{ dataServices.UserEmail[0] }}</span>
      </a>
      <div class="dropdown-menu" [class.show]="showMenu">
        <a class="dropdown-item">{{ dataServices.UserEmail }}</a>
        <a class="dropdown-item" (click)="logoutUser()">Logout</a>
      </div>
    </li>
  </ul>
  } @else {
  <ul class="nav">
    <li class="nav-item">
      <a
        class="link"
        routerLink="/login"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        <span>Signin</span>
        <div></div>
      </a>
    </li>
    <li class="nav-item ms-3">
      <a
        class="link"
        routerLink="/signup"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        <span>Signup</span>
        <div></div>
      </a>
    </li>
  </ul>
  } }
</nav>
