.signup{
    &-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 80vh;
    }
    .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .card {
        width: 37rem;
        height: 20rem;
        &-title {
            text-align: center;
            font-weight: 400;
            color: green;
        }
        &-input {
            width: 100%;
            height: 3rem;
            padding: 0px 10px;
            border: 1px solid rgba(0, 0, 0, .125);
        }
        .help-text {
            font-size: 14px;
            color: gray;
        }
        .submit-btn {
            width: 7rem;
            height: 2.5rem;
            margin: 0 auto;
        }
    }
    @media (max-width: 730px) {
        .card{
            width: 100%;
        }
        & {
            padding: 0px 5%;
        }
    }
}
